@page "/project"
@using XMLDocCrowdSourcer.Data
@inject ApplicationDbContext db
@rendermode InteractiveServer

<h3>Projects</h3>

@if (projects == null) {
    <p>Loading...</p>
} else {
    @foreach (var project in projects) {
        <p><a href="project/@project.Id">@project.Name (@project.Id)</a></p>
    }
}

@code {
    private List<Project> projects = new();

    protected override void OnInitialized() {
        projects = db.Projects.ToList();
    }
}
