@page "/project/new"
@using Mono.Cecil
@using XMLDocCrowdSourcer.Components.Account
@using XMLDocCrowdSourcer.Data
@using Microsoft.AspNetCore.Authorization
@inject ApplicationDbContext db
@inject IToastService toastService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

@attribute [Authorize]

<PageTitle>New Project</PageTitle>

<h3>New Project</h3>

<form method="post" @onsubmit="SubmitForm">

    <FluentTextField Label="Project Name" Required=true Class="mb-2" @bind-Value=projectName></FluentTextField>

    <br />

    <FluentInputFile Mode="InputFileMode.SaveToTemporaryFolder"
                     DragDropZoneVisible="false"
                     Multiple="false"
                     AnchorId="UploadButton"
                     MaximumFileSize="@MAX_FILE_SIZE"
                     Accept=".exe,.dll,application/vnd.microsoft.portable-executable"
                     OnCompleted="FileChange"/>
    
    <div class="d-flex align-items-center mb-2">
        <FluentButton Id="UploadButton" Appearance="Appearance.Accent">
            Choose Assembly
        </FluentButton>
    
        @if (file != null) {
            <span class="ml-2">Uploaded @fileName</span>
        }
    </div>

    <!-- Check Account/Manage/Index for maybe a better/more standard way to do this -->
    @if (errorText != null) {
        <p class="error-text">@errorText</p>
    }

    <FluentButton Type="ButtonType.Submit" Disabled=loading>
        @if (loading) {
            <FluentProgressRing></FluentProgressRing>
        } else {
            <span>Submit</span>
        }
    </FluentButton>
</form>

@code {
    private const long MAX_FILE_SIZE = 1024 * 1024 * 100;

    private string projectName = "";

    private FileInfo? file = null;
    private string? fileName = null;

    private string? errorText;

    private bool loading = false;

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    private async Task SubmitForm() {
        if (loading) return;
        if (file == null) {
            errorText = "Please provide a .NET assembly for this project";
            return;
        }

        loading = true;
        if (authenticationState is null
            || (await authenticationState) is not { } auth
            || !auth.User.TryGetAuthenticatedId(out string? userId)) {
            errorText = "You are not authenticated";
            loading = false;
            return;
        }
        var user = await db.Users.FindAsync(userId);
        if (user == null) {
            errorText = "Unable to find current user";
            loading = false;
            return;
        }

        errorText = null;

        var tempPath = Path.GetTempFileName();

        try {
            await using FileStream fs = new(tempPath, FileMode.Create);
            // I'm not sure this copying is needed, pretty sure `file` already is a temp file somewhere
            await file.OpenRead().CopyToAsync(fs);

            // Return to beginning of temp file to read it back
            fs.Seek(0, SeekOrigin.Begin);
            var asm = AssemblyDefinition.ReadAssembly(fs);

            var builder = new ProjectBuilder(projectName, Path.GetFileNameWithoutExtension(file.Name));

            foreach (ModuleDefinition moduleDef in asm.Modules) {
                builder.AddModule(moduleDef);
            }

            var project = builder.Build();
            project.UserRoles.Add(new() {
                    User = user,
                    Role = ProjectRole.Owner,
                    Project = project
                });
            var entry = db.Projects.Add(project);
            await db.SaveChangesAsync();
            NavigationManager.NavigateTo($"/project/{entry.Entity.Id}");
        } catch (BadImageFormatException) {
            errorText = "The provided file is not a valid .NET assembly";
        } finally {
            File.Delete(tempPath);
            loading = false;
        }
    }

    private void FileChange(IEnumerable<FluentInputFileEventArgs> files) {
        if (files.Any()) {
            var args = files.First();
            file = args.LocalFile;
            fileName = args.Name;
        } else {
            file = null;
            fileName = null;
        }
    }
}
