@using Blazorme
@using XMLDocCrowdSourcer.Data
@inject ApplicationDbContext db
@inject IToastService ToastService

<div>
    <div class="d-flex justify-content-between align-content-center">
        <h4>@Proposal.Mapping.XmlDocId - Proposed by @Proposal.Author.UserName at @Proposal.Created</h4>
        <span>
            <FluentButton Color="white" BackgroundColor="limegreen" OnClick="ApproveProposal">Approve</FluentButton>
            <FluentButton Color="white" BackgroundColor="red" OnClick="DeclineProposal">Decline</FluentButton>
        </span>
    </div>
    <Diff OutputFormat=DiffOutputFormat.Column
            FirstInput=@(Proposal.Mapping.Documentation ?? "")
            SecondInput=@Proposal.ProposedValue
            FirstTitle=@Proposal.Mapping.XmlDocId
            SecondTitle=@Proposal.Mapping.XmlDocId />
</div>

@code {
    [Parameter]
    public required MappingProposal Proposal { get; set; }

    [Parameter]
    public Action? OnProposalUpdated { get; set; }

    private void ApproveProposal() {
        var oldValue = Proposal.Mapping.Documentation;
        Proposal.Mapping.Documentation = Proposal.ProposedValue;
        db.MappingProposals.Remove(Proposal);

        var removedProposal = Proposal;
        var callback = EventCallback.Factory.Create<ToastResult>(this, result => RestoreProposal(result, removedProposal, true, oldValue));
        ToastService.ShowSuccess("Proposal approved", 8000, "Undo", callback);
        db.SaveChanges();
        OnProposalUpdated?.Invoke();
    }

    private void DeclineProposal() {
        db.MappingProposals.Remove(Proposal);

        var removedProposal = Proposal;
        var callback = EventCallback.Factory.Create<ToastResult>(this, result => RestoreProposal(result, removedProposal, false, null));
        ToastService.ShowSuccess("Proposal declined", 8000, "Undo", callback);
        db.SaveChanges();
        OnProposalUpdated?.Invoke();
    }

    private void RestoreProposal(ToastResult result, MappingProposal proposal, bool approved, string? oldValue) {
        if (result.Cancelled) return;
        // Restore old value
        if (approved) {
            proposal.Mapping.Documentation = oldValue;
        }

        db.MappingProposals.Add(proposal);
        db.SaveChanges();
        OnProposalUpdated?.Invoke();
    }
}
